extends ../layout

block content
  - var next = req.query.next !== req.path && req.query.next !== "undefined" ? req.query.next : "/";
  .container
    #loginbox.mainbox.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2(style='margin-top:50px;')
      .panel.panel-info
        .panel-heading
          .panel-title Connexion
          div(style='float:right; font-size: 80%; position: relative; top:-10px')
            a(href='#') Mot de passe oublié ?
        .panel-body(style='padding-top:30px')
          #login-alert.alert.alert-danger.col-sm-12(style='display:none')
          form#loginform.form-horizontal(action='/auth/local?next=#{next}', method='post', role='form')
            .input-group(style='margin-bottom: 25px')
              span.input-group-addon
                i.glyphicon.glyphicon-user
              input#login-identifier.form-control(type='text', name='identifier', value='', placeholder='Username or email')
            .input-group(style='margin-bottom: 25px')
              span.input-group-addon
                i.glyphicon.glyphicon-lock
              input#login-password.form-control(type='password', name='password', placeholder='Password')
            //- .input-group
            //-   .checkbox
            //-     label
            //-       input#login-remember(type='checkbox', name='remember', value='1')
            //-       |  Remember me
            .form-group(style='margin-top:10px')
              // Button
              .col-sm-12.controls
                button#btn-login.btn.btn-success(type='submit', style='margin-right:5px;') Login
                a#btn-fblogin.btn.btn-social.btn-google(href='/auth/google')
                  i.fa.fa-google
                  |  Login avec Google
            .form-group
              .col-md-12.control
                div(style='border-top: 1px solid#888; padding-top:15px; font-size:85%')
                  | Je n'ai pas de compte! 
                  a(href='/register?next=#{next}') S'inscrire ici
