#{paginate.hasNextPages(pageCount)}
#{paginate.hasPreviousPages}
if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  .navigation.well-sm#pagination
    ul.pager
      if paginate.hasPreviousPages
        li.previous
          a(href="/tournaments" + paginate.href(true)).prev
            i.fa.fa-arrow-circle-left
            |  Précédent
      if paginate.hasNextPages(pageCount)
        li.next
          a(href="/tournaments" + paginate.href()).next
            | Suivant
            i.fa.fa-arrow-circle-right