extends layout
block head

block content
  .main.zerogrid
    .wrapper
      div(style='padding-left:20px;')
        - if(newsCollection.length===0)
          p(class='no-tournaments') Aucune news n'est disponible.
        - else
          - each news in newsCollection
            a(href='/news/#{news.newsId}', class='news-box')
              - if(!news.hideThumbnail)
                img(src='#{news.thumbnailRelPath}', alt='#{news.title}')
              p #{news.title}
        div(style='clear:both;')
        div        
          include _paginate