extends layout
block head
  script(language='javascript', type='text/javascript', src='#{staticsPrefixPath}/javascripts/jquery.scrollTo-min.js')

block content
  .main.zerogrid
    .wrapper
       ul.glossary-ul
         li#a.selected A
         li#b B
         li#c C
         li#d D
         li#h H
         li#k K
         li#m M
         li#n N
         li#p P
         li#r R
         li#s S
         li#t T
         li#v V

       .glossary-content
          #content-for-a(style='background-color: #DDD;')
              span.glossary-title A
              p
                strong Armes
                br
                img(src='http://cdn.mohye.eu/img/faq/arme.jpg', style='width: 200px;')
                br
                | Il s’agit d’un type de carte particulier équipant votre héros d’une arme. Elle permet à votre héros d’attaquer directement les créatures ou le héros adverse. Sur la carte, la vie est remplacée par la durabilité. Cette valeur indique le nombre de fois que le héros pourra utiliser l’arme avant que celle-ci ne se brise. Vous disposez donc d’une capacité d’attaque supplémentaire, cependant votre héros prend les dégâts des créatures qu’il attaque. Il s’agit donc de cartes à double tranchant.
              p.return-to-top Retourner au début
          #content-for-b
            span.glossary-title B
            p
              strong BestOfX
              br
              | Autrement appelé BO X, cette expression signifie littéralement “le meilleur des X”. Par exemple en BestOf3, deux adversaires s’affrontent en 3 rounds, le premier à atteindre deux victoires est déclaré vainqueur.
            p.return-to-top Retourner au début
          #content-for-c
            span.glossary-title C
            p
              strong Cartes - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/cartes.png', style='width: 150px;')
              br
              | Il existe 3 types de cartes. Les cartes créatures, sorts et armes. Chaque carte possède un coût en mana, des points d'attaque et des points de vie. Il est possible qu'elle possède des attributs spécifiques qui sont décrits dans le GameText comme la carte ci-dessus.
            p
              strong Classes - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/hero_power.jpg', style='width: 200px;')
              br
              | Chaque classe est associée à un héros. Chaque héros di-spose d’un groupe de cartes spécifiques qu’il est possible de mixer avec des cartes neutres (communes à toutes les classes). Chaque héros possède un pouvoir spécifique. Par exemple, le prêtre peut soigner tandis que le chaman peut faire apparaître un totem. Ces pouvoirs coûtent tous 2 cristaux.
            p
              strong Créatures - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/cartes.png', style='width: 150px;')
              br
              | Les cartes créature représentent à la fois la principale source d’attaque et de défense lors d’une partie. Le chiffre en bas à gauche correspond à son attaque et celui de droite à sa vie. Comme pour toutes les cartes le chiffre en haut à gauche correspond à son coût en cristaux de mana.
            p
              strong Cristal - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/mana-cristal.png')
              br
              | Energie permettant d’utiliser des cartes, leur nombre augmente au cours de la partie à hauteur de un par tour. Au premier tour, les deux adversaires ne commencent qu’avec un seul cristal, ce qui leur permet uniquement d’invoquer des cartes ne valant qu’un ou zéro cristaux. Chaque tour, un cristal supplémentaire est disponible, jusqu’à atteindre ue maximum de dix cristaux.
            p.return-to-top Retourner au début
          #content-for-d
            span.glossary-title D
            p
              strong Deck - HearhtStone
              br
              img(src='http://cdn.mohye.eu/img/faq/decklist.jpg', style='width: 200px;')
              br
              | Un deck est un groupe de 30 cartes préparé par le joueur et représentant l’ensemble de sa pioche au cours d’un duel. Il est possible de créer plusieurs decks différents pour une même classe ou d’utiliser les decks mis à disposition pour débuter. Cependant, une carte ne peut être utilisée plus de deux fois dans un même deck. Les cartes légendaires sont limitées à un seul exemplaire.
            p.return-to-top Retourner au début
          #content-for-h
            span.glossary-title H
            p
              strong Héros - HearthStone
              br
              | Cf. "Classes - HearthStone"
            p
              strong HearthStone Deck Tracker
              br
              | Il est téléchargeable à cette
              a(href='https://github.com/Epix37/Hearthstone-Deck-Tracker/releases') adresse
              | Pour exporter les cartes jouées lors de ses parties voici la marche à suivre:
              br
              | Lancer l'exécutable:
              img(src='http://cdn.mohye.eu/img/faq/HSDT_1.jpg')
              br
              | Aller dans les options puis other:
              img(style='width: 250px;', src='http://cdn.mohye.eu/img/faq/HSDT_2.jpg')
              img(style='width: 250px;', src='http://cdn.mohye.eu/img/faq/HSDT_3.jpg')
              br
              | Ensuite cocher "Log Games" puis choisir l'emplacement:
              img(style='width: 250px;', src='http://cdn.mohye.eu/img/faq/HSDT_4.jpg')
              br
              | Il suffira d'envoyer les fichiers exportés à un organisateur.
            p.return-to-top Retourner au début
          #content-for-k
            span.glossary-title K
            p
              strong KingOfTheHill
              br
              | Il s’agit d’un type de tournoi dans lequel chaque joueur part avec un nombre de héros définis. A la fin de chaque round, le vainqueur conserve le héros qu’il utilisait tandis que le héros vaincu est éliminé. Ainsi, si un joueur gagne trois fois d'affilée, il utilisera trois fois le même héros tandis que son adversaire devra utiliser 3 héros différents.
            p.return-to-top Retourner au début
          #content-for-m
            span.glossary-title M
            p
              strong Main de départ - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/main_depart.jpg', style='width: 200px;')
              br
              | Trois cartes vous sont proposées si vous commencez et quatre si vous êtes second à jouer. Vous avez la possibilité d’éliminer certaines cartes peu utiles pour le début de la partie. Ces cartes retournerons dans votre decks et seront remplacées par d’autres, prisent au hasard. Dans l’image ci-dessus, la carte du milieu, coutant six cristaux, ne peu être utilisée qu’à partir du sixième tour. Il est donc judicieux de l’éliminer dans l’espoir d’obtenir une carte valant de un à quatre cristaux.
            p
              strong Mana - HearthStone
              br
              | Cf. "cristal - HearthStone"
            p.return-to-top Retourner au début
          #content-for-n
            span.glossary-title N
            p
              strong NodePoule
              br
              img(src='http://cdn.mohye.eu/img/faq/poule.png', style='width: 50px;')
              br
              | NodePoule vient de nodejs (technologie utilisée pour le serveur) et de phases de poule.
            p.return-to-top Retourner au début
          #content-for-p
            span.glossary-title P
            p
              strong Pièce - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/la_piece.png', style='width: 150px;')
              br
              | Carte supplémentaire offerte au joueur jouant en second. Elle a pour objectif de compenser l’avantage qu’a le joueur commençant. Elle offre un cristal supplémentaire à dépenser pendant un tour et permet par exemple de jouer une carte valant deux cristaux dès le premier tour.
            p
              strong Pièges - HearthStone
              br
              | Cf. "Sorts - HearthStone"
            p.return-to-top Retourner au début
          #content-for-r
            span.glossary-title R
            p
              strong Rareté des cartes - HearthStone
              br
              | Cf. "Valeur des cartes - HearthStone"
            p.return-to-top Retourner au début
          #content-for-s
            span.glossary-title S
            p
              strong Sorts - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/sort.png', style='width: 150px;')
              br
              | Il existe deux types de sorts. Les sorts à effet immédiat et les pièges. Les premiers se jouent simplement dès qu’ils sont nécessaire. Pour les secondes, une fois la carte jouée celle-ci apparaît sous la forme d’un petit jeton au dessus du héros et ne s’activera que lorsque des conditions particulières sont remplies. Par exemple, le fait que votre adversaire pose une créature sur le terrain. Le contenu de la carte piège reste caché à l’adversaire jusqu’au déclenchement.
            p
              strong Starter deck - HearthStone
              br
              | Il existe un deck par défaut pour toutes les classes. Ce deck est appelé le starter deck. Il n’est pas particulièrement fort, mais restera supérieur au premier deck que vous créerez vous-même grâce à son bon équilibre.
            p.return-to-top Retourner au début
          #content-for-t
            span.glossary-title T
            p
              strong Types de cartes - HearthStone
              br
              | Cf. "Cartes - HearthStone"
            p.return-to-top Retourner au début
          #content-for-v
            span.glossary-title V
            p
              strong Valeur des cartes - HearthStone
              br
              img(src='http://cdn.mohye.eu/img/faq/valeur.png', style='width: 150px;')
              br
              | Liée, Commune, Rare, Epique et Légendaire. Voilà les différentes valeurs de cartes les classant par ordre croissant de rareté. Une légendaire sera donc beaucoup plus difficile à obtenir qu’une carte rare. Cependant, elle ne sera pas pour autant imbattable, le jeu tachant toujours de rester équilibré.
            p.return-to-top Retourner au début

  script(language='javascript', type='text/javascript').
      $(function() {
        //below code is for high-lighting the link and scroll to particular DOM Element as well
        $(".glossary-ul li").each(function() {
          $(this).click(function() { //On click of any Alphabet
            $(".glossary-ul li").removeClass("selected"); //Initially remove "selected" class if any
            $(this).addClass("selected"); //Add "selected" class for the clicked one
            elementClick = $(this).attr("id"); //get respective 'Id' for example 'a','b','c'.. etc.,
            $(".glossary-content").scrollTo($("#content-for-"+elementClick), 800); //scrollTo particular DOM Element
            $(".glossary-content div").css({'background-color' : '#ffffff'}); //set the background color to default, that is white
            $(".glossary-content #content-for-"+elementClick).css({'background-color' : '#DDD'}); //set the background color to light-blue to that div
          });
        });
        //When "Retourner au début" is clicked highlight the first Alphabet that 'A' and scroll to top.
        $('.return-to-top').click(function(){
          $(".glossary-ul li").each(function() {
            $(".glossary-ul li").removeClass("selected"); //Remove classname "selected"
          });
          $("#a").addClass("selected"); //Add a class named "selected" to the first Alphabet
          $(".glossary-content").scrollTo($("#content-for-a"), 800); //This is for scrolling to particular element that is "A" here...
          $(".glossary-content div").css({'background-color' : '#ffffff'}); //set the background color to default, that is white
          $(".glossary-content #content-for-a").css({'background-color' : '#DDD'}); //set the background color to light-blue to that div
        });
      });
