extends layout
block head

block content
  .main.zerogrid
    .wrapper
      h3 Jeux
      - if(games.length===0)
        p Pas de faq disponible...
      - else
        - each game in games
         .faq-game-button
             a(href='/tournaments/#{game.gameId}#faq')
                 img(src='#{game.iconRelPath}')
               | span #{game.name}
