extends layout

block content
  .slider-wrapper
    .rslides_container
      ul#slider.rslides
        li
          img(src='/img/slider-img1.jpg', alt='Affiche 1')
        li
          img(src='/img/slider-img1.jpg', alt='Affiche 1')
  .wrapper
    figure.img-indent2
      img(src='/img/page1-img1.png', alt='')
    .extra-wrap
      strong.text-1
        | Exterior Design is one of 
        a.link-1(href='http://www.zerotheme.com', target='_blank') free html5 templates 
        | created by TemplateMonster.com and Zerotheme.com team. This template is optimized for 1280X1024 resolution and HTML5 & CSS3 valid. This 
        a.link-1(target='_blank', href='http://blog.templatemonster.com/2012/01/16/free-website-template-exterior-design-jquery-slider/ ') Exterior Design Template 
        |  goes with two packages – with PSD source files and without them.
