doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='icon', type='image/png', href='http://cdn.mohye.eu/img/favicon.png')
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css', media='all')
    link(rel='stylesheet', href='/stylesheets/template/reset.css' type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/template/style.css' type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/template/zerogrid.css' type='text/css', media='all')
    link(rel='stylesheet', href='/stylesheets/template/responsive.css' type='text/css', media='all')
    script(type='text/javascript', src='//code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript', src='/javascripts/css3-mediaqueries.js')
    script(type='text/javascript', src='/javascripts/jquery.easing.1.3.js')
    block head
  body
    header
      .menu-row
          .main.zerogrid
            nav.wrapper
              ul.menu
                li
                  a.active(href='/index.html') Accueil
                li
                  a(href='/tournaments') Competitions
                li
                  a(href='http://forum.mohye.eu/') Forum
                li
                  a(href='/contacts.html') Contacts
                li
                  a(href='#') Mon Profil
        .row-bot
          .row-bot-bg
            .main.zerogrid
              .wrapper
                h1
                  a(href='index.html')
                    img(src='http://cdn.mohye.eu/img/logo.png', alt='logo')
              .main.zerogrid
                h2 #{title}
              block home

    block aside

    section#content
      block content

    footer
      .main.zerogrid
        .aligncenter