doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/decklist.css')
    script(type='text/javascript', src='http://static.wowhead.com/widgets/power.js')
    script(type='text/javascript').
       var wowhead_tooltips = { "colorlinks": false, "iconizelinks": true, "renamelinks": true }
  body
    block content