extends layout
block head
  link(rel='stylesheet', href='/stylesheets/clndr.css' type='text/css', media='all')
  script(type='text/javascript', src='/javascripts/underscore-min.js')
  script(type='text/javascript', src='/javascripts/moment-2.5.1.js')
  script(type='text/javascript', src='/javascripts/clndr.js')
  script(type='text/javascript').
    var currentMonth = moment().format('YYYY-MM');
    var nextMonth    = moment().add('month', 1).format('YYYY-MM');
    var events = [
      { date: currentMonth + '-' + '10', title: 'Persian Kitten Auction', location: 'Center for Beautiful Cats' },
      { date: currentMonth + '-' + '19', title: 'Cat Frisbee', location: 'Jefferson Park' },
      { date: currentMonth + '-' + '23', title: 'Kitten Demonstration', location: 'Center for Beautiful Cats' },
      { date: nextMonth + '-' + '07',    title: 'Small Cat Photo Session', location: 'Center for Cat Photography' }
    ];
    $(function () {
      $('#mini-clndr').clndr({
         template: $('#mini-clndr-template').html(),
         events: events,
         clickEvents: {
           click: function(target) {
             if(target.events.length) {
               var daysContainer = $('#mini-clndr').find('.days-container');
               daysContainer.toggleClass('show-events', true);
               $('#mini-clndr').find('.x-button').click( function() {
                 daysContainer.toggleClass('show-events', false);
               });
             }
           }
         },
         adjacentDaysChangeMonth: true
      });
    });

block home
  h2
    img.avatar(src='http://cdn.mohye.eu/img/avatar.png')
    span.pseudo-header PSEUDO

block content
  .main.zerogrid
    .wrapper
      .mid-left
        span.section-title Pseudos
          ul.list-pseudos
            li
              img(src='http://cdn.mohye.eu/img/skype.png', alt='skype', title='skype')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/steam.png', alt='steam', title='steam')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/origin.png', alt='origin', title='origin')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/battle.net.png', alt='battle.net', title='battle.net')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/skype.png', alt='skype', title='skype')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/steam.png', alt='steam', title='steam')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/origin.png', alt='origin', title='origin')
              | Pseudo
            li
              img(src='http://cdn.mohye.eu/img/battle.net.png', alt='battle.net', title='battle.net')
              | Pseudo
      .mid-left
        span.section-title Agenda
        #mini-clndr.cal2
          script#mini-clndr-template(type='text/template')
            <div class="controls">
            <div class="clndr-previous-button">‹</div><div class="month"><%= month %></div><div class="clndr-next-button">›</div>
            </div>
            <div class="days-container">
            <div class="days">
            <div class="headers">
            <% _.each(daysOfTheWeek, function(day) { %><div class="day-header"><%= day %></div><% }); %>
            </div>
            <% _.each(days, function(day) { %><div class="<%= day.classes %>" id="<%= day.id %>"><%= day.day %></div><% }); %>
            </div>
            <div class="events">
            <div class="headers">
            <div class="x-button">x</div>
            <div class="event-header">EVENTS</div>
            </div>
            <div class="events-list">
            <% _.each(eventsThisMonth, function(event) { %>
            <div class="event">
            <a href="<%= event.url %>"><%= moment(event.date).format('MMMM Do') %>: <%= event.title %></a>
            </div>
            <% }); %>
            </div>
            </div>
            </div>
      div(style='width: 100%;')
        span.section-title Palmarès
        ul.list-palmares
          li
            img.palmares-icon(src='http://cdn.mohye.eu/img/hearthstone_icon.png')
            .palmares-infos
              a(href='#') Titre du tournoi - xx/xx/xxxx
              br
              span Classement : xxe

