@font-face {
	font-family: "HearthStoneFont";
	src: url('../fonts/HearthStoneFont.ttf');
}
@font-face {
	font-family: "metroSysIcons";
	src: url('../fonts/metroSysIcons.ttf');
}
.decklist-top {
	background: url('http://cdn.nodepoule.eu/img/decklist/decklist_top.png');
	width: 380px;
	height: 113px;
}
.decklist-top  textarea{
	width:278px;
	height:63px;
	background:transparent no-repeat;
	border:none 0px;
	font-family: "HearthStoneFont", Helvetica, Arial, sans-serif;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	color: #FFF;
	font-size: 18px;
	margin-top:16px;
	margin-left:38px;
	vertical-align:bottom;
	padding-left:10px;
	padding-top:10px;
}
.decklist-content {
	background: url('http://cdn.nodepoule.eu/img/decklist/decklist_bgr.jpg') repeat-y;
}
.decklist-content ul {
	font-family: "HearthStoneFont", Helvetica, Arial, sans-serif;
	text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
	color: #FFF;
	font-size: 18px;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
	width: 380px;
}
.decklist-content .decklist-card {
	padding-left: 35px;
	height: 40px;
	line-height: 42px;
	background: url('http://cdn.nodepoule.eu/img/decklist/decklist_card.jpg') no-repeat;
	display: inline-block;
}
.decklist-content .decklist-card.minion {
	background: url('http://cdn.nodepoule.eu/img/decklist/decklist_card_minion.jpg') no-repeat;
}
.decklist-content .decklist-card.weapon {
	background: url('http://cdn.nodepoule.eu/img/decklist/decklist_card_weapon.jpg') no-repeat;
}
.decklist-content .decklist-card p {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	text-align: center;
	max-height: 40px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow:hidden;
}
.decklist-content .decklist-card .card-mana {
	width: 20px;
}
.decklist-content .decklist-card .card-name {
	width: 195px;
	text-align: left;
}
.decklist-content .decklist-card .card-name a,.decklist-content .decklist-card .card-name a:visited {
	color: #fff;
	text-decoration: none;
	margin-left: 15px;
	cursor: pointer;
}
.decklist-content .decklist-card .card-health {
	width: 32px;
}
.decklist-content .decklist-card .card-attack {
	width: 30px;
	padding-right: 15px;
}
.decklist-bottom {
	width: 380px;
	height: 37px;
}
.decklist-desc {
	width: 200px;
	font-family: Verdana, "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	color: #ffd100;
	font-size: 12px;
	line-height: 17px;
	background: url('http://cdn.nodepoule.eu/img/decklist/tooltip.png') repeat;
	padding: 5px;
	margin: 5px;
	border: 1px #fff solid;
	border-radius : 5px;
	max-height: 300px !important;
}
.decklist-popup {
	display: none;
	position: absolute;
	z-index: 1000;
}
.decklist-popup img{
	display:block;
}

/* Style decksearch */
.card-option {
	display: block;
	height: 55px;
	border-bottom: 1px solid #D3D3D3;
}

.card-option-left {
	display: inline-block;
	width: 20%;
}

.card-option-right {
	display: inline-block;
	width: 80%;
}

.card-option .card-preview {
	display: inline-block;
	background-repeat:no-repeat;
	border-radius: 15px;
	height: 50px;
	width: 50px;
}

.card-option .card-preview-minion {
	background-size: 220%;
	background-position: -30px -30px;
}

.card-option .card-preview-weapon {
	background-size: 210%;
	background-position: -27px -32px;
}

.card-option .card-preview-spell {
	background-size: 220%;
	background-position: -30px -35px;
}

.card-option .card-name {
	display: inline-block;
	font-weight: bold;
	height: 20px;
	width: 100%;
}

.card-option .card-desc {
	display: inline-block;
	color: #808080;
	height: 30px;
	width: 100%;
}

.card-option small {
	font-size: x-small;
}

input[type=radio].radiobtn-hero{
	display:none;
}
.list-heros{
	margin:0px auto;
	text-align:center;
	padding-bottom:20px;
}
.div-hero{
	width:10%;
	display:inline-block;
	text-align:center;
	position:relative;
}
.div-hero.selected{
	border:4px solid #7DBA14;
}
.div-hero.selected:after{
	border-left:28px solid rgba(0, 0, 0, 0);
	border-top:33px solid #7DBA14;
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 101;
}
.div-hero.selected:before {
	color: #FFFFFF;
	content: "\e003";
	display: block;
	font-family: 'metroSysIcons';
	font-size: 9pt;
	font-weight: normal;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 102;
}
.div-hero label {
	cursor: pointer;
}