@font-face {
    font-family: "HearthStoneFont";
    src: url('http://cdn.mohye.eu/fonts/HearthStoneFont.ttf');
}
.decklist-top {
    background: url('http://cdn.mohye.eu/img/decklist/heros/malfurion.jpg');
    width: 350px;
    height: 113px;
}
.decklist-content {
    background: url('http://cdn.mohye.eu/img/decklist/decklist_bgr.jpg') repeat-y;
}
.decklist-content ul {
    font-family: "HearthStoneFont", Helvetica, Arial, sans-serif;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    color: #FFF;
    font-size: 18px;
    width: 350px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
	vertical-align:top;
}
.decklist-content li {
    padding-left: 35px;
    height: 40px;
    line-height: 42px;
    background: url('http://cdn.mohye.eu/img/decklist/decklist_card.jpg') no-repeat;
}
.decklist-content li.minion {
    background: url('http://cdn.mohye.eu/img/decklist/decklist_card_minion.jpg') no-repeat;
}
.decklist-content li.weapon {
    background: url('http://cdn.mohye.eu/img/decklist/decklist_card_weapon.jpg') no-repeat;
}
.decklist-content li p {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
	max-height:40px;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow:hidden;
}
.decklist-content li .card-mana {
    width: 20px;
}
.decklist-content li .card-name {
    width: 194px;
    text-align: left;
}
.decklist-content li .card-name a,.decklist-content li .card-name a:visited {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    cursor:pointer;
}
.decklist-content li .card-health {
    width: 31px;
}
.decklist-content li .card-attack {
    width: 35px;
}
.decklist-bottom {
    width: 350px;
    height: 37px;
}
.decklist-desc{
	width:200px;
	font-family:Verdana,"Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif;
	font-style:italic;
	color:#ffd100;
	font-size:12px;
	line-height:17px;
	background:url('http://cdn.mohye.eu/img/decklist/tooltip.png') repeat;
	padding:5px;
	margin:5px;
	border:1px #fff solid;
	border-radius : 5px;
	max-height:300px !important;
}
.decklist-popup{
	display:none;
	position:absolute;
  z-index: 1000;
}
.decklist-popup img{
	display:block;
}