.competition-list-item{
	height:100px;
	overflow:hidden;
	margin-bottom:20px;
}
.competition-statut{
	text-transform:uppercase;
	text-decoration:none;	
	font-weight:bold;
	color:#000;
	float:right;
}
.competition-statut.avenir{
	color:#0F5;
}
.competition-statut.encours{
	color:#FA0;
}
.competition-statut.termine{
	color:#F00;
}

.competition-challonge{
	float:left;
	width:625px;
	margin-top:20px;
}

.button-link{
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	margin:5px;
	display:block;
	width:290px;
	padding:10px;
	background-color:#000;
	color:#fff;
	float:left;
}

.button-link.subscribe{
	background-color:#008b00;
}
.button-link.unsubscribe{
	background-color:#c60000;
}

.competition-wrapper{
  height: 635px;
}

.competition-infos{
	width:100%;
	font-weight:bold;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.competition-infos .competition-title{	
	vertical-align:middle;
	font-size:50px;
	padding:0px;
	background-color:#CCC;
	margin:0px;
	white-space:nowrap;
}
.competition-infos .competition-subtitle{
	vertical-align:middle;
	font-size:20px;
	padding:0px 0px 0px 20px;
	margin:0px;
	color:#888;
	background-color:#EEE;
}
.competition-infos img{
	height:64px;
	vertical-align:middle;
	padding:5px 20px;
}
.section-title{
	color:#111;
	margin:20px 0px 0px 20px;;
	display:block;
	text-transform:uppercase;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-style:italic;
}
.avatar{
	width:150px;
	vertical-align:middle;
}

.pseudo-header{
	border-left:1px dotted #AAA;
	vertical-align:middle;
	padding-left:10px;
	font-size:40px;
	line-height:1.2em;
	color:#fff;
	margin-top:10px;
	/* background:url('http://cdn.nodepoule.eu/img/pic-1.gif') 0 0 repeat-y; */
	overflow:hidden;
}

.list-pseudos{
	list-style:none;
	height:222px;
	width:300px;
	overflow-y:scroll;
	background:#EEE;
	border:1px solid #AAA;
	padding-bottom:5px;
}
.list-pseudos li{
	margin:5px 0px 0px 20px;
}
.list-pseudos img{
	width:32px;
	height:32px;
	vertical-align:middle;
	padding-right:10px;
}
.mid-left{
	float:left; 
	width:50%;
	height:300px;
}
.list-palmares{
	list-style:none;
	margin-left:20px;
}
.palmares-icon{
	width:64px;
	height:64px;
	display:inline-block;
	vertical-align:middle;
}
.palmares-infos{
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
}
.no-tournaments{
	font-family:verdana,arial,sans serif;
	text-align:center;
	font-weight:bold;
	float:none !important;
	text-transform:uppercase;
	font-size:20px;
	/*text-shadow:-2px 2px 5px #BD0B0B, 2px -2px 5px #D9C409;*/
}
.small-link-right{
	float:right;
	margin-top:10px;
}
.news-date{
	font-size: 20px;
	margin-left: 30px;
	color: #888;
}
.news-box{
	width:22%;
	margin:0px 20px 20px 0px;
	float:left;
	border:1px solid #999;
	text-align:center;
}
.news-box img{
	width:100%;
}
.news-box p{
	height:50px;
	background:#EEE;
	font-size:17px;
	font-weight:bold;
}
.rule-title{
	color:#7dba14;
	font-weight:bold;
	font-style:italic;
}
.rule-description{
	margin-left:20px;
}
.user-box{
	width:22%;
	margin:0px 20px 20px 0px;
	float:left;
	border:1px solid #999;
	text-align:center;
}
.user-box .user-avatar{
	width:100%;
}
.user-box p{
	background:#EEE;
	font-size:17px;
	font-weight:bold;
}
p.user-separation{
	width:100%;
	border-top:1px solid #CCC;
	height:0px;
}
p.user-awards{
	font-size:12px;
	height:25px;
}
.user-awards img{
	width:16px;
}
p.game-icon{
	padding-left:5px;
	height:50px;
	max-height:50px;
	overflow-y:auto;
}
.game-icon img{
	height:16px;
	width:16px;
	margin:5px 5px 0px 0px;
}
.glossary-ul{
	padding:0px 0px 0px 10px;
	margin:0px;
	background:#EEE;
}

.glossary-ul li {
	background:#fff;
	display:inline;
	font-family:'Arial',Verdana,Tahoma;
	font-size:16pt;
	font-weight:bold;
	padding:10px 15px 15px;
	line-height:70px;
	cursor:pointer;
}

.glossary-ul li.selected{
	background:#000;
	color:#ffffff;
	font-weight:bold;
	padding:10px 15px 22px;
}

.glossary-container{
	clear:both;
}

.glossary-content{
	height:430px;
	overflow:auto;
	font-family:'Arial',Verdana,Tahoma;
	font-size:10pt;
	clear:both;
}

.glossary-content div{
	padding-left:10px;
	border-bottom:1px #666666 solid;
}

.glossary-content div span{
	margin-top:0px;
}

.glossary-content p.return-to-top{
	color:#0066FF;
	text-decoration:underline;
	text-align:right;
	margin-right:10px;
	cursor:pointer;
}
.glossary-title{
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}
.faq-game-button{
	margin:0px 5px 5px 0px;
	display:inline-block;
	background:#000;
}
.faq-game-button img{
	padding:2px;
	width:130px;
	height:130px;
}
.faq-game-button span{
	color:#fff;
	margin-left:5px;
	display:block;
	text-transform:uppercase;
	font-weight:bold;
}
.faq-game-type{
 text-transform: capitalize;
}

.game-infos{
    width:100%;
    font-weight:bold;
    text-transform:uppercase;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}
.game-infos .game-title{	
    vertical-align:middle;
    font-size:50px;
    padding:0px;
    background-color:#CCC;
    margin:0px;
}
.game-infos .game-subtitle{
    vertical-align:middle;
    font-size:20px;
    padding:0px 0px 0px 20px;
    margin:0px;
    color:#888;
    background-color:#EEE;
}
.game-infos img{
    height:64px;
    vertical-align:middle;
    padding:5px 20px;
}
.participants .user-avatar{
    height:28px;
}
.participants a{
    display:block;
}