.mytourney-tour {
	float:left;
}
.mytourney-block{
	margin:5px 20px 5px 0px;
	/*border-bottom:1px solid transparent;*/
}
.mytourney-block .mytourney-player-block:first-child{
	border-bottom:1px solid #000;
}
.mytourney-block .mytourney-player-block{
	margin:0px;
	padding:0px;
	background:#EEE;
	font-weight:bold;
	font-size:9px;
	font-family:'Segoe UI Light_','Open Sans Light',Verdana,Arial,Helvetica,sans-serif;
}
.mytourney-block .mytourney-player-block .mytourney-user{
	width:90px;
	overflow:hidden;
	word-wrap:break-word;
	white-space: nowrap;
	display:inline-block;
	text-align: left;
	padding:5px;
	vertical-align:center;
	line-height:14px;
}
.mytourney-block .mytourney-player-block .mytourney-user a:link{
	color:#000;
	text-decoration:none;
	text-transform:uppercase;
}

.mytourney-block .mytourney-player-block .mytourney-score{
	display:inline-block;
	width:25px;
	overflow:hidden;
	text-align:center;
	background:#DDD;
	padding:5px;
	line-height:14px;
}

.mytourney-block .mytourney-player-block .mytourney-user.selected{
	background:#8FA;
}

.mytourney-block .mytourney-player-block .mytourney-user .mytourney-avatar {
	width: 15px;
	height: 15px;
	margin-right: 4px;
}