extends ../layout

block home
  div(data-ng-controller='tournamentCtrl as tCtrl')
    h2 Annonces
      |         
      p.no-tournaments(data-ng-hide="tCtrl.tournaments.length") Aucune annonce pour le moment.
      #myCarousel.carousel.slide(data-ride='carousel', data-ng-if="tCtrl.tournaments.length")
        ol.carousel-indicators
          li(data-ng-repeat="tournament in tCtrl.tournaments track by $index", data-ng-class="{'active': $index==0}", data-target='#myCarousel', data-slide-to='{{$index}}')
        .carousel-inner(role='listbox')
          div(class="item", data-ng-repeat="tournament in tCtrl.tournaments track by $index", data-ng-class="{'active': $index==0}")
            a(data-ng-href='/tournaments/{{tournament.id}}', data-ng-title='{{tournament.title}}')
              img.first-slide.img-responsive.center-block(data-ng-src='{{tournament.imageRelPath}}', data-ng-alt='{{tournament.title}}')
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          |             
          span.sr-only Previous
        |           
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          |             
          span.sr-only Next
    .wrapper
      figure.img-indent2
        img(src='/images/page1-img1.png', alt='')
      .extra-wrap
        strong.text-1.
          N'hésitez pas à vous inscrire sur le forum pour échanger avec vos adversaires.

block aside

block content
  .row
    // Left pannel
    .col-md-8.left-panel
      section(data-ng-controller='newsCtrl as nCtrl')
        h3 Les news
        |                     
        p.no-news(data-ng-hide="nCtrl.newsCollection.length") Aucune news n'est disponible.
        .news-list(data-ng-if="nCtrl.newsCollection.length")
          article.news-container.container-fluid(data-ng-repeat="news in nCtrl.newsCollection track by $index")
              .news-img.col-md-4
                img(data-ng-src='{{news.thumbnailRelPath}}', data-ng-alt='{{news.title}}')
              |                                 
              .col-md-8
                a.news-title(data-ng-href='/news/{{news.id}}') {{news.title}}
                |                                   
                .news-content
                  | {{news.content}}
          | 
          -// ui-bootstrap pagination directive
          uib-pagination(total-items="nCtrl.newsTotalItems", ng-change="nCtrl.pageChanged()", ng-model="nCtrl.newsCurrentPage", items-per-page="nCtrl.newsItemsPerPage", max-size="nCtrl.maxSize", class="pagination-sm", boundary-links="true", num-pages="numPages", previous-text="‹", next-text="›", first-text="«", last-text="»")
        -//.news-paginate
           -//include _paginate
    // Right pannel
    .col-md-4.right-panel
      aside
        h3 Tournois
        |                 
        a.filter(href='#') En ce moment
        | /
        a.filter(href='#') Populaires
        | /
        a.filter(href='#') A venir
        | /
        a.filter(href='#') J&apos;y participe
        |                 
        ul.tournaments
          li.row
            img.img-responsive.pull-left(src='/images/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='/images/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='/images/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='/images/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='/images/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='/images/lock.png')
          |                     
          li.row
            img.img-responsive.pull-left(src='/images/hearthstone_icon.png')
            a.pull-left(href='#') Tournoi 1
            img.img-responsive.pull-left(alt='inscriptions closes', src='/images/lock.png')
      |             
      aside
        h3 Feeds
        ul#feeds
      aside
        img(src='/images/banner_design.png', alt='ads')

block js
  script(type='text/javascript', src='/js/jquery.feeds.min.js')
  script(type='text/javascript').
    $(function() {
      $('ul#feeds').feeds({
          feeds: {
              recent: '#{sails.config.nodepoule.forumUrl}/recent.rss',
          },
          entryTemplate: function(entry) {
              return '<li><a href="' + entry.link + '">' + entry.title + '</a></li>';
          }
      });
    });
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js')
  script(type='text/javascript', src='/js/ui-bootstrap-tpls-1.1.2.min.js')
  script(type='text/javascript').
    var app = angular.module('npApp', ['ui.bootstrap']);
    app.controller('tournamentCtrl', function ($http) {
      var _this = this;
      this.tournaments = [];
      this.getAllTournaments = function() {
        -// using angular ajax request
        //$http.get("/api/rest/tournament", {params: { populate: false, sort: 'startDate ASC', limit: 5, where: "{'startDate': {'>': '2016-04-04T10:57:08.976Z' }}" }}).success(function(response) {
        $http.get("/json/tournaments/currents").success(function(response) {
          _this.tournaments = response;
        }).error(function(data, status) {
          console.error('Tournament error', data, status);
        });
      };
      this.getAllTournaments();
    });
    app.service('NewsService', function($http, $q) {
      this.getNewsByPage = function(page) {
        var deferred = $q.defer(); // to handle async response
        $http.get("/json/news/p/"+page).success(function(data, status, headers) {
          var contentRange = data.contentRange;
          deferred.resolve({
            items: data.newsCollection,
            totalItems: contentRange.total,
            currentPage: page,
            itemsPerPage: (contentRange.end - contentRange.start)
          });
        }).error(deferred.reject);
        return deferred.promise;
      };
    });
    app.controller('newsCtrl', function (NewsService, $location) {
      var _this = this;
      this.newsCollection = [];
      this.maxSize = 5; // max pagination buttons to show
      this.newsTotalItems = 0;
      this.newsCurrentPage = 0;
      this.newsItemsPerPage = 0;
      
      this.setPage = function (pageNo) {
        _this.newsCurrentPage = pageNo;
      };

      this.pageChanged = function() {
        console.log('Page changed to: ' + _this.newsCurrentPage);
        NewsService.getNewsByPage(_this.newsCurrentPage).then(function(newsByPage) {
          _this.newsCollection = newsByPage.items;
          _this.newsTotalItems = newsByPage.totalItems;
          _this.newsCurrentPage = newsByPage.currentPage;
          _this.newsItemsPerPage = newsByPage.itemsPerPage;
          $location.search('news-p', newsByPage.currentPage); // set news page in hash
        }).catch(function(data, status) {
          console.error('News error', data, status);
        });
      };      
      
      this.setPage($location.search()['news-p'] || 1); // set current page using hash
      this.pageChanged(); // notify page changed to load news
    });
