.tournaments img {
  	height:16px;
}
ul.tournaments {
  	list-style: none;
}
.news-list li {
	margin-top:20px;
}
a.action{
    text-decoration: none;    
}
a.action img{
    text-decoration: none;
    width: 20px;
}